
*{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #121212;
}
body{
    background-color: #eee;
    z-index: -2;
}
.line1{
    border: none;
    border-bottom: 3px solid rgb(0, 255, 0, 0);
    border-radius: 5px;
    margin-top: 7px;
    margin-bottom: 7px;
    width: 0%;

    animation-name: hrAnim;
    animation-delay: 11.5s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes hrAnim {
    from{
        width: 0%;
        border-bottom: 3px solid rgb(0, 255, 0, 0);
    }
    to{
        width: 100%;
        border-bottom: 3px solid rgb(0, 100, 0);
    }
}
.bg1{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;

    background-color: #121212;

    animation-name: bgAnim;
    animation-delay: 13s;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}
@keyframes bgAnim {
    from{
        background-color: #121212;
    }
    to{
        background-color: #eee;
    }
}
.preintro{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
}
.preintro p{
    font-weight: lighter;
    color: #eee;
    overflow: hidden;
    white-space: nowrap;

    animation-name: messageAnim, messageAnim2;
    animation-delay: 0s, 5s;
    animation-duration: 4s, 1s;
    animation-fill-mode: forwards;
}
@keyframes messageAnim{
    from{
        width: 1%;
    }
    to{
        width: 100%;
    }
}
@keyframes messageAnim2 {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

.introduction{
    position: absolute;
    left: 35%;
    top: 50%;
    transform: translate(-35%, -50%);
}

.introduction .greeting{
    color: #eee;
    font-size: 30px;
    overflow: hidden;
    white-space: nowrap;
    width: 0%;

    animation-name: greetingAnim, greetingAnim2;
    animation-delay: 5.5s, 13s;
    animation-duration: 1.5s, 0.7s;
    animation-fill-mode: forwards;
}
@keyframes greetingAnim {
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}
@keyframes greetingAnim2 {
    from{
        color: #eee;
    }
    to{
        color: #121212;
    }
}
.introduction .title, .introduction .description{
    color: #eee;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -1px;
    width: 0%;

    overflow: hidden;
    white-space: nowrap;
}
.introduction .title{
    animation-name: titleAnim, titleAnim2;
    animation-delay: 7.5s, 13s;
    animation-duration: 1.75s, 0.7s;
    animation-fill-mode: forwards;
}
@keyframes titleAnim{
    from{
        width: 0%;
    }  
    to{
        width: 100%;
    }
}
@keyframes titleAnim2{
    from{
        color: #eee;
    }
    to{
        color: #121212;
    }
}
.introduction .description{
    animation-name: descriptionAnim, descriptionAnim2;
    animation-delay: 9.5s, 13s;
    animation-duration: 2s, 0.7s;
    animation-fill-mode: forwards;
}
@keyframes descriptionAnim {
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}
@keyframes descriptionAnim2{
    from{
        color: #eee;
    }
    to{
        color: #121212;
    }
}
.introduction .name{
    font-size: 40px;
    color: rgb(0, 100, 0);
}
.introduction svg, .navigation svg{
    height: 40px;
    width: 40px;
    margin-top: 10px;

    position: relative;
    margin-right: 7px;
    fill:#eee;
}
.svg1{
    opacity: 0;
    transform: translateY(30px);

    animation-name: svg1Anim;
    animation-delay: 12s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes svg1Anim{
    from{
        opacity: 0;
        transform: translateY(30px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}
.svg2{
    opacity: 0;
    transform: translateY(30px);

    animation-name: svg2Anim;
    animation-delay: 12.25s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes svg2Anim{
    from{
        opacity: 0;
        transform: translateY(30px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}
.svg3{
    opacity: 0;
    transform: translateY(30px);

    animation-name: svg3Anim;
    animation-delay: 12.5s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes svg3Anim{
    from{
        opacity: 0;
        transform: translateY(30px);
        fill:#eee;
    }
    to{
        opacity: 1;
        transform: translateY(0px);
        fill:#121212;
    }
}
.svg4{
    opacity: 0;
    transform: translateY(30px);

    animation-name: svg4Anim;
    animation-delay: 12.75s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes svg4Anim{
    from{
        opacity: 0;
        transform: translateY(30px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}
.introduction image{
    height: 640px;
    width: 640px;
}
.portfolio{
    top:100%;
    height: 700px;
    position: absolute;
    left: 31.25%;
    right: 11.25%;
}
.header_line{
    border: none;
    border: solid 1px rgb(0, 100, 0);
    border-radius: 3px;
}
.header_title, .subheader{
    text-align: left;
}
.header_title{
    font-size: 30px;
    font-weight: bold;
    color: rgb(0, 100, 0);
    text-shadow: 3px 3px rgba(12,12,12, 0.1);
}
.header_title b{
    font-size: 25px;
    color: #121212;
}
.subheader{
    font-size: 15px;
}

@media (max-width: 720px){
    .preintro p {
        font-size: 3vw;
    }
    .introduction svg{
        margin-top: 4px;
    }
    .introduction .name{
        font-size: 7vw;
    }
    .introduction .greeting{
        font-size: 5.5vw;
    }
    .introduction .title, .introduction .description{
        font-size: 7vw;
    }
    .introduction svg{
        height: 9vw;
        width: 9vw;

        margin-right: 0.75vw;
    }
}
.btn-navigation{
    position: fixed;
    display: none;
    z-index: 1;
    left: 5px;
    transform: translateY(-10px);
}
.btn-navigation svg{
    position: absolute;
}
.btn-navigation .svg-navi-close, .svg-navi-open{
    transform: scale(0, 0);
}
.btn-navigation .shrink{
    animation: shrinkanim 0.25s forwards;
    position: absolute;
}
@keyframes shrinkanim {
    from{
        transform: scale(1, 1);
        left: 0px;
        top: 0px;
    }
    to{
        transform: scale(0, 0);
        left: 28px;
        top: 42px
    }
}
.btn-navigation .enlarge{
    animation: enlargeanim 0.25s 0.25s forwards;
    position: absolute;
}
@keyframes enlargeanim{
    from{
        transform: scale(0, 0);
        left: 28px;
        top: 42px;
    }
    to{
        transform: scale(1, 1);
        left: 0px;
        top: 0px;
    }
}
.navigation{
    top: 50%;
    transform: translateY(-50%);

    display: none;
    position: fixed;
    z-index: 1;
    list-style-type: none;
    width: 20%;

    border-right: solid 1px rgba(0, 100, 0, 0.26);
    background-image: linear-gradient(rgba(0,0,0,0) 0%, #eee 5%, #eee 95%, rgba(0,0,0,0) 100%);
    padding: 50px 0 50px 0;
}
.navigation .me{
    text-align: center;
}
.navigation img{
    border-radius: 50%;
    border: solid 3px rgb(0, 100, 0);
}
.navigation p{
    text-align: center;
    margin-top: 10px;

    font-size: x-large;
    font-weight: bold;
    color: rgb(0, 100, 0);
}
.navigation svg{
    margin-bottom: 20px;
}
.navigation .contacts{
    text-align: center;
}
.line2{
    border: none;
    border-bottom: solid 1px rgba(0, 100, 0, 0.26);;

    width: 90%;
    margin-left: 5%;
}
.navigation .btn-navi{
    display: block;
    padding: 20px 0px 0px 0px;
    width: 100%;
    text-align: left;
    text-indent: 35%;

    border: none;
    background-color: rgb(0,0,0,0);
    font-size: large;
    font-weight: lighter;
}
.navigation .svg-close{
    width: 16px;
    height: 16px;
}
.navigation .btn-navi:hover{
    color: rgb(0, 100, 0);
}
.navigation .num{
    margin-right: 2px;
}
.navigation.fadein, .btn-navigation.fadein{
    animation: naviFadeinAnim 0.3s 0s forwards;
}
@keyframes naviFadeinAnim {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.navigation.fadeout, .btn-navigation.fadeout{
    animation: naviFadeoutAnim 0.3s 0s forwards;
}
@keyframes naviFadeoutAnim {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
body>.fullscreen{
    display: none;
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}
.fullscreen .options .btn-svg,  .navigation .btn-close, .btn-naviopenclose{
    border:none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
}
.fullscreen .img-container{
    position: absolute;
    left: 50%;
    top: 50%;
}
.fullscreen .img-container img{
    position: absolute;
    transform: translate(-50%, -50%);
    max-width: 100vw;
    height: auto;
}
.fullscreen .options{
    position: absolute;
    left: 50%;
    top: 90%;
    width: 100px;
    transform: translate(-50%, -90%);
    padding: 10px 20px 10px 20px;
    display: flex;
    justify-content: center;

    background-color: #555;
}
.fullscreen .options p{
    align-self: center;
    color: white;
}
.about .card{
    display: block;
    transform: translateY(50px);
}
.about .card._1{
    width: 46%;
    float: left;
    padding-right: 3.75%;
}
.about .card._2{
    width: 46%;
    float: left;
    padding-left: 3.75%;
}
.about .card .content{
    margin-top: 50px;
    text-align: justify;
    opacity: 0;
}
.divfadein{
    animation: divfadein 0.5s forwards;
}
@keyframes divfadein {
    from{
        transform: translateY(30px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}
.divfadein2{
    animation: divfadein2 0.5s forwards;
}
@keyframes divfadein2 {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.hr2elongate{
    animation: hr2elongate 1.5s forwards;
}
@keyframes hr2elongate {
    from{
        width: 0px;
    }
    to{
        width: 100%;
    }
}
.about .content .btn_resume, .contact .btn_form{
    background-color: rgba(0, 0, 0, 0);
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 100, 0);
    border: solid 2px rgb(0, 100, 0);
}
.about .content .btn_resume{
    margin-top: 40px;
    padding: 5px 15px 10px 15px;
}
.btn_resume svg{
    transform: translateY(5px);
}
.about .card hr, .verticalrule{
    width: 0px;
    border: none;
    border-bottom: solid 1px rgba(0, 100, 0, 0.26);
}
.about .verticalrule{
    position: absolute;
    left: 49%;
    transform: translate(-49%, 230px) rotate(90deg);
}
#skill1, #skill2, #skill3, #skill4, #skill5, #skill6, #skill7, #skill8, #skill9, #skill10{
    opacity: 0;
    margin: 0px 3px;
}
.svgskills{
    display: flex;
    float: left;
   
}
.svgskills .line{
    padding-bottom: 5px;
    border-bottom: solid 5px rgba(0, 100, 0);
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
}
.about .card._2 .subcard .svgskills{
    padding: 40px 0 40px 0;
}
.content h3, .subcard h3{
    margin-bottom: 5px;
}
.about .card .subcard._2{
    display: inline-block;
    margin-top: 40px;
}
.stats{
    display: flex;
    float: left;
    margin-top: 40px;

    text-align: center;
}
.stats ._2{
    margin: 0 10px 0 10px;
    padding: 0 10px 0 10px;
    border-left: solid 1px rgba(0, 100, 0, 0.26);
    border-right: solid 1px rgba(0, 100, 0, 0.26);
}
.stats b{
    font-size: 30px;
    color: rgb(0, 100, 0);
}
.projects{
    margin-top: 460px;
}
.projects .card, .samples .card{
    width: 100%;
    transform: translateY(50px);
    display: block;
}
.projects .card .subcard, .samples .card .subcard{
    float: left;
    width: 46%;
    text-align: justify;
}
.projects .card .subcard._1, .samples .card .subcard._1{
    padding: 0 3.75% 0 0;
}
.projects .card .subcard._2, .samples .card .subcard._2{
    padding: 0 0 0 3.75%;
} 
.projects .subcard .img-border, .samples .subcard .img-border{
    position: absolute;
    width: 45%;
    height: 240px;
    transform: translateY(5px);
    z-index: -1;

    border: solid 3px rgb(0, 100, 0);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.projects .subcard .img-slideshow, .samples .subcard .img-slideshow{
    opacity: 0;
    width: 98.5%;
    z-index: 1;
}
.projects .subcard .img-slideshow .btn-group, .samples .subcard .img-slideshow .btn-group{
    opacity: 0;
    transition: 0.2s;
}
.projects .subcard .img-slideshow .btn-group:hover, .samples .subcard .img-slideshow .btn-group:hover{
    opacity: 1;
}
.projects .subcard .img-slideshow img, .samples .subcard .img-slideshow img{
    position: absolute;
    width: 45%; /*max-width: 100%;*/ 
    height: 240px; /*auto*/
    left: auto;
    /*left:-25%;*/
    transform: translateX(9px); /*12.5%*/
    z-index: 0;

    border: solid 1px rgb(0,0,0);
}
.projects .subcard .img-slideshow .enlarge, .samples .subcard .img-slideshow .enlarge{
    animation: enlargeImg 0.3s forwards;
}
.projects .subcard .img-slideshow .top, .samples .subcard .img-slideshow .top{
    transform: translateX(9px);
    height: 80px;

    background-image: linear-gradient(rgb(0,0,0,0.7), rgba(0,0,0,0));
}
.projects .subcard .img-slideshow .top p, .projects .subcard .img-slideshow .top .fullscreen, .samples .subcard .img-slideshow .top p, .samples .subcard .img-slideshow .top .fullscreen{
    padding: 10px;
}
.projects .subcard .img-slideshow .top p, .samples .subcard .img-slideshow .top p{
    display: inline-flex;
    float: left;

    color: white;
}
.projects .subcard .img-slideshow .page, .samples .subcard .img-slideshow .page{
    margin-top: 90px;
    transform: translateX(9px);
    height: 71px;

    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0,0,0,0), rgb(0,0,0, 0.7));
}
.projects .subcard .img-slideshow .page .btn-svg, .samples .subcard .img-slideshow .page .btn-svg{
    border: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 4px;
}
.projects .subcard .img-slideshow .btn-group .top .btn-svg, .samples .subcard .img-slideshow .btn-group .top .btn-svg{
    border: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    display: inline-flex;
    float: right;
}
.projects .subcard .img-slideshow .page .btn-page, .samples .subcard .img-slideshow .page .btn-page{
    border: none;
    border-radius: 50%;
    padding: 4px;
    margin: 3px;
    background-color: #ffffff;
    cursor: pointer;
}
.projects .subcard .btn-group .page .active, .samples .subcard .btn-group .page .active{
    animation: btnElongate 0.5s forwards;
}
@keyframes btnElongate {
    from{
        padding: 4px 4px 4px 4px;
        border-radius: 50%;
    }
    to{
        padding: 4px 8px 4px 8px;
        border-radius: 30%;
    }
}
.projects .subcard .btn-group .page .inactive, .samples .subcard .btn-group .page .inactive{
    animation: btnShorten 0.5s forwards;
}
@keyframes btnShorten {
    from{
        padding: 4px 8px 4px 8px;
        border-radius: 30%;
        
    }
    to{
        padding: 4px 4px 4px 4px;
        border-radius: 50%;
    }
}
.projects .subcard .img-slideshow .active, .samples .subcard .img-slideshow .active, .fullscreen .active{
    animation: imgFadeInAnim 0.5s forwards;
}
@keyframes imgFadeInAnim{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.projects .subcard .img-slideshow .inactive, .samples .subcard .img-slideshow .inactive, .fullscreen .inactive{
    animation: imgFadeOutAnim 0.5s 0.25s forwards;
}
@keyframes imgFadeOutAnim{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
.projects .subcard .title, .samples .subcard .title, .projects .subcard .options, .samples .subcard .options{
    opacity: 0;
    margin-top: 20px;
}
.projects .subcard .title, .samples .subcard .title{
    display: inline-flex;
}
.projects .subcard .options, .samples .subcard .options{
    display: inline-flex;
    float: right;
}
.projects .subcard .options svg, .samples .subcard .options svg{
    margin: 2px 0 0 10px;
    padding-bottom: 2px;
}
.projects .subcard .options svg:hover, .samples .subcard .options svg:hover{
    cursor: pointer;
    border-bottom: solid 1px rgb(0, 100, 0);
}
.projects .subcard .tags p, .samples .subcard .tags p{ 
    display: flex;
    float: left;
    margin: 0 10px 5px 0;
    border-bottom: solid 2px rgba(0, 100, 0);
    color: rgba(0, 0, 0, 0.7);
}
.projects .tags, .samples .tags{
    opacity: 0;
}
.projects .subcard .desc, .samples .subcard .desc{
    opacity: 0;
    margin-top: 75px;
}
.projects .card._2 .subcard{
    left: 50%;
}
.samples{
    margin-top: 560px;
    width: 100%;
}
.contact{
    margin-top: 560px;
    width: 100%;
}
.contact .details{
    text-align: justify;
    padding: 0 20% 0 20%;
    margin-top: 20px;
}
.contact .details .messageform{
    margin-top: 30px;
}
.contact input, .contact .message{
    margin-top: 10px;
    width: 100%;
    text-indent: 8px;
    font-size: 20px;

    border:none;
    border-bottom: solid 2px #121212;
    background-color: rgba(0, 0, 0, 0);
}
.contact input::placeholder, .contact textarea::placeholder{
    color: #121212;
}
.contact input{
    height: 40px;
}
.contact .intro-message{
    text-align: center;
    padding: 10px 0px;
    margin-bottom: 60px;

    background-image: linear-gradient(to right, rgba(0,100,0,0) 0%, rgba(0,100,0,0.1) 30%, rgba(0,100,0,0.1) 70%, rgba(0,100,0,0) 100%);
    border-top: 10px dotted rgb(0, 100, 0, 0.8);
    border-bottom: 10px dotted rgb(0, 100, 0, 0.8);
}
.contact .messageform .message{
    margin-top: 15px;
    resize: none;
    height: 120px;
}
.contact .btn_form{
    margin-top: 10px;
    padding: 10px 12px 10px 10px;
}
.contact .btn_form svg{
    display: flex;
    float: left;
    padding-right: 5px;
}
footer{
    width: 100%;
    height: 70px;
    margin-top: 70px;

    white-space: nowrap;
    background-image: linear-gradient(to right, rgba(204,204,204,0) 0%, rgba(204,204,204, 1) 5%, rgba(204,204,204, 1) 95%, rgba(204,204,204,0) 100%);
}
footer p{
    position: absolute;
    left: 50%;
    margin-top: 27px;
    transform: translateX(-50%);

    font-weight: lighter;
    color: #555;
}
.navigation.show{
    animation: shownavi 0.5s forwards;
}
@keyframes shownavi {
    from{
        left: -300px;
    }
    to{
        left: 0px;
    }
}
.navigation.hide{
    animation: hidenavi 0.5s forwards;
}
@keyframes hidenavi {
    from{
        left: 0px;
    }
    to{
        left: -300px;
    }
}
.portfolio.blur, .introduction.blur{
    animation: blurbg 0.5s forwards;
}
@keyframes blurbg {
    from{
        filter: blur(0px);
    }
    to{
        filter: blur(5px);
    }
}
.portfolio.unblur, .introduction.unblur{
    animation: unblurbg 0.5s forwards;
}
@keyframes unblurbg {
    from{
        filter: blur(5px);
    }
    to{
        filter: blur(0px);
    }
}
@media (max-width: 480px){
    .portfolio{
        transform: translateX(-31%);
        width: 94%;
    }
    .navigation{
        width: 300px;
        left: -300px;
    }
    .about .card._1{
        width: 100%;
        margin-top: -80px;
        padding-bottom: 20px;
    }
    .about .card._2{
        width: 100%;
        border: none;
        padding-left: calc(-3.75%);
    }
    .about .card._2 .subcard{
        padding-top: 20px;
    }
    .about .content .btn_resume{
        margin-top: 20px;
    }
    .about .card._2 .subcard .svgskills{
        padding: 20px 0 20px 0;
    }
    .about .card .subcard._2{
        margin-top: 0px;
    }
    .about .stats{
        margin-top: 20px;
    }
    .projects{
        margin-top: 600px;
    }
    .projects .card, .samples .card {
        transform: translateY(40px);
        margin-bottom: 420px;
    }
    .projects .card .subcard, .samples .card .subcard{
        width: 100%;
    }
    .projects .subcard .img-border, .samples .subcard .img-border{
        width: 98%;
        height: 190px;
    }
    .projects .subcard .img-slideshow img, .samples .subcard .img-slideshow img{
        width: 98%;
        height: 190px;
    }
    .projects .subcard .img-slideshow, .samples .subcard .img-slideshow{
        width: 98%;
    }
    .projects .subcard .img-slideshow .page, .samples .subcard .img-slideshow .page{
        margin-top: 40px;
    }
    .projects .card .subcard._2, .samples .card .subcard._2{
        padding: 0 0 0 0;
    }
    .projects .subcard .desc, .samples .subcard .desc {
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .samples{
        margin-top: 860px;
    }
    .contact{
        margin-top: 430px;
    }
    .contact .details{
        padding: 0;
    }
}
@media (min-width: 480px){
    .portfolio{
        transform: translateX(-29%);
        width: 90%;
    }
    .navigation{
        width: 300px;
        left: -300px;
    }
    .about .card .skillshr{
        border: none;
        border-bottom: none;
    }
    .hrelongate{
        animation: hrelongate 1s forwards;
    }
    @keyframes hrelongate {
        from{
            width: 0px;
        }
        to{
            width: 360px;
        }
    }
}
@media (min-width: 1025px){
    .portfolio{
        position: absolute;
        left: 31.25%;
        right: 11.25%;
        width: 60%;
        transform: translateX(0);
    }
    .navigation{
        left: 0px;
        width: 20%;
    }
}
@media (min-width: 1481px){
    .navigation{
        width: 300px;
    }
    .portfolio{
        left: 460px;
        width: 950px;
    }
}